*{
	box-sizing: border-box;
}
body{
	font-family: Verdana, sans-serif;
	color: #333;
}
textarea{
	min-height: 100px;
	width: 100%;
	max-width: 100%;
	font-size: 14px;
}

ul.addChord, ul.activeChord{
	list-style: none;
	padding: 0;
}

ul.addChord li{
	display: inline-block;
	border: 1px solid #DDD;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 4px;
	border-radius: 3px;
	text-align: center;
	width: 34px;
}

ul.addChord li.active{
	background-color: #ddd;
}
ul.activeChord li{
	color: #C32A22;
	cursor: pointer;
}



.meta-info .meta-info-data span{
	display: block;
	
}

.comment{
	font-style: italic;
	color: #777;
}

.chord-string, .lyric-string{
	font-family: "Consolas", "Lucida Console", Monaco, monospace;
}

.clearfix{
	clear: both;
}

@media (min-width: 768px){
	.source-input{
		width: 40%;
		float: left;
		padding: 16px;
	}
	.lines{
		width: 60%;
		float: left;
		padding: 16px;
	}
}