<!DOCTYPE html>
<html>
<head>
	<title>ChordPro-test</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div id="app">
		<div class="source-input">
			<textarea v-model="source"></textarea>
		</div>
		<div class="lines">
			<div v-for="line in lines" class="line">
				<div v-for="directive in line.directives" class="directive">
					<h1 v-if="directive.type == 'title'">{{ directive.name}}</h1>
					<h2 v-if="directive.type == 'subtitle'">{{ directive.name}}</h2>
					<span v-if="directive.type == 'comment'" class="comment">{{ directive.name}}</span>
				</div>
				<div v-html="line.chordString" class="chord-string"></div>
				<div v-html="line.lyricString" class="lyric-string"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>