<!DOCTYPE html>
<html>
<head>
	<title>ChordPro-test</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<div id="app">
		<textarea v-model="source"></textarea>
		<div class="lines">
			<div v-for="line in lines" class="line">
				<div v-html="line.chordString"></div>
				<div v-html="line.lyricString"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>